table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.descW{
    width: 400px;
}

.table_frame {
    text-align: center;
}

.codeBlock{
    text-align: left;
    /*margin: 0 auto;*/
}



.mono{
    font-family: monospace;
    font-size: 16px;
    font-weight: normal;
}

.reg{
    font-weight: normal;
}
