.example_frame {
    text-align: center;
}

.textBlock {
    width: 50%;
    margin: 0 auto;
}

.desc {
    font-size: 20px;
    font-family: sans-serif;
}

.codeBlock{
    width: 50%;
    margin: 0 auto;
}