#tank {
    border-style: solid;
    border-color: black;
    position: relative;
    background: cornflowerblue;
}

#fish {
    height: 50px;
    width: 100px;
    position: absolute;
}

#stationaryObj {
    position: absolute;
}

#textDiv {
    position: absolute;
}

#trail {
    position: absolute;
}