ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: lightskyblue;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: royalblue;
}

.active {
    background-color: mediumslateblue;
}

.navbar {
    text-align: center;
}
